@import url(https://fonts.googleapis.com/css?family=Instrument+Sans);

.App {
  text-align: center;
  max-width: 100%;
  font-family: 'Instrument Sans',sans-serif;
}

.intro {
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  font-family: 'Instrument Sans',sans-serif;
  font-size: 20px;
}

.searchBar {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 30%;
  height: 35px;
  font-size: 20px;
  padding: 5px;
}

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 120px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}






/* button {
  font-size: 30px;
} */

.container {
  margin:40px;
}